<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input id="text" type="text"/>
<button onclick="startTestMock()">StartMock</button>
<button onclick="startTest()">StartTest</button>
<button onclick="closeWebSocket()">Close</button>
<div id="terminal"
     style="width: 80%; height: 400px; margin: 20px auto;background: antiquewhite;overflow: auto; padding: 20px 10px">
</div>
<div id="message">
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

    var userID = "888";
    var websocket = null;
    // todo 部署时更换
    var url_production = "59.78.194.183:9090"
    var url_test = "localhost:9090"
    var base_url = url_test

    $(function () {
        connectWebSocket();
    })

    //建立WebSocket连接
    function connectWebSocket() {

        console.log("开始...");

        //建立webSocket连接
        websocket = new WebSocket("ws://" + base_url + "/terminal?id=" + userID);

        //打开webSokcet连接时，回调该函数
        websocket.onopen = function () {
            console.log("onpen");
        }

        //关闭webSocket连接时，回调该函数
        websocket.onclose = function () {
            //关闭连接
            console.log("onclose");
        }

        //接收信息
        websocket.onmessage = function (msg) {
            $("#terminal").append("<p>" + msg.data + "</p>")
            console.log(msg.data);
        }

    }

    //发送消息
    function startTestMock() {
        var postValue = {};
        postValue.id = userID;
        $.get("http://" + base_url + "/verifast/mipverifymock/" + userID)
    }

    function startTest() {
        var postValue = {};
        postValue.id = "1";
        $.get("http://" + base_url + "/verifast/mipverify/" + userID)
    }

    //关闭连接
    function closeWebSocket() {
        if (websocket != null) {
            websocket.close();
        }
    }
</script>
</body>
</html>
