<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>WiNR</h1>
<div>
    <h3>获取验证结果</h3>
    verify id:
    <input id="input-verify-id" type="text" name="verify_id"><br>
    <button onclick="fetchVerificationResult()">获取验证结果</button>
</div>
网络模型:
<select id="input-model" name="model">
    <option value="models/cifar10_cnn_lenet_averpool_sigmoid_myself.h5">cifar10_cnn_lenet_averpool_sigmoid_myself
    </option>
    <option value="models/fashion_mnist_cnn_4layer_5_3_sigmoid_myself.h5" selected>fashion_mnist_cnn_4layer_5_3_sigmoid_myself
    </option>
    <option value="models/fashion_mnist_cnn_6layer_5_3_sigmoid_myself.h5">fashion_mnist_cnn_6layer_5_3_sigmoid_myself
    </option>
    <option value="models/fashion_mnist_cnn_8layer_5_3_sigmoid_myself.h5">fashion_mnist_cnn_8layer_5_3_sigmoid_myself
    </option>
    <option value="models/fashion_mnist_cnn_10layer_5_3_sigmoid_myself.h5">
        fashion_mnist_cnn_10layer_5_3_sigmoid_myself
    </option>
    <option value="models/gtsrb_cnn_5layer_sigmoid_myself.h5">gtsrb_cnn_5layer_sigmoid_myself</option>
</select><br>
Epsilon: <input id="input-epsilon" type="text" name="epsilon" value="0.01"><br>
数据集:
<select id="input-dataset" name="dataset">
    <option value="fashion_mnist">fashion_mnist</option>
    <option value="cifar10">cifar10</option>
    <option value="gtsrb">gtsrb</option>
</select><br>
图片数量: <input id="input-image-num" type="text" name="epsilon" value="2"><br>

<div id="loading">请稍等</div>

<!--<button onclick="formTest()">FormTest</button>-->
<!--<button onclick="startTestMock()">StartMock</button>-->
<button onclick="startTest()">开始验证</button>
<!--<button onclick="closeWebSocket()">Close</button>-->
<!--<div id="terminal"-->
<!--     style="width: 80%; height: 400px; margin: 20px auto;background: antiquewhite;overflow: auto; padding: 20px 10px">-->
<!--</div>-->
<div id="result-content"></div>
<div id="adv-image-area"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

    var userID = "888";
    var websocket = null;
    // todo 部署时更换
    var url_production = "219.228.60.69:9090"
    var url_test = "localhost:9090"
    var base_url = url_production

    var imagesToBeVerify = []

    $(function () {
        // connectWebSocket();
    })

    //建立WebSocket连接
    function connectWebSocket() {

        console.log("开始...");

        //建立webSocket连接
        websocket = new WebSocket("ws://" + base_url + "/terminal?id=" + userID);

        //打开webSokcet连接时，回调该函数
        websocket.onopen = function () {
            console.log("onpen");
        }

        //关闭webSocket连接时，回调该函数
        websocket.onclose = function () {
            //关闭连接
            console.log("onclose");
        }

        //接收信息
        websocket.onmessage = function (msg) {
            $("#terminal").append("<p>" + msg.data + "</p>")
            console.log(msg.data);
        }

    }

    function formTest() {
        const dataset = $("#input-dataset option:selected");
        const epsilon = $("#input-epsilon");
        const model = $("#input-model option:selected");
        const images = $("#input-images").prop('files');

        // console.log(dataset.val())
        // console.log(epsilon.val())
        // console.log(model.val())

        var postForm = new FormData();
        postForm.append("dataset", dataset.val())
        postForm.append("epsilon", epsilon.val())
        postForm.append("model", model.val())
        for (let i = 0; i < images.length; i++) {
            var image = images.item(i)
            console.log(image.name)
            postForm.append("images", image)
        }
    }

    function uploadImage() {
        var postForm = new FormData();
        const images = $("#input-images").prop('files');
        for (let i = 0; i < images.length; i++) {
            var image = images.item(i)
            postForm.append("images", image)
        }
        $.ajax({
            url: 'http://' + base_url + '/winr/images',
            type: 'post',
            data: postForm,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data)
                imagesToBeVerify = data
            }
        })
    }

    //发送消息
    function startTestMock() {
        reset()

        const dataset = $("#input-dataset option:selected");
        const epsilon = $("#input-epsilon");
        const model = $("#input-model option:selected");
        const imageNum = $("#input-image-num");

        // console.log(dataset.val())
        // console.log(epsilon.val())
        // console.log(model.val())

        $("#loading").animate({opacity: "1"})
        $.post("http://" + base_url + "/winr/mock/" + userID, {
            dataset: dataset.val(),
            epsilon: epsilon.val(),
            model: model.val(),
            imageNum: imageNum.val()
        }, function (data) {
            $("#loading").animate({opacity: "0"});
            var resultFile = data.resultFile
            var resultFileString = ""
            for (var key in resultFile) {
                resultFileString += (key + ": " + resultFile[key] + "<br>")
            }
            console.log(resultFile)
            $("#result-content").html("<p>" + resultFileString + "</p>");
            for (var advExample of data.advExamples) {
                var filename = "http://" + base_url + "/winr/adv_image/" + advExample
                $("#adv-image-area").append("<div class=\"adv-image\"><img src=\"" + filename + "\"/><p>" + advExample + "</p></div>")
            }
            console.log("Load was performed.")
        });
    }

    function fetchVerificationResult() {
        reset()
        var verifyId = $("#input-verify-id").val()
        $("#loading").animate({opacity: "1"})
        $.get("http://" + base_url + "/winr/verification/" + verifyId, function (data) {
            $("#loading").animate({opacity: "0"});
            var resultFile = data.resultFile
            var resultFileString = ""
            for (var key in resultFile) {
                resultFileString += (key + ": " + resultFile[key] + "<br>")
            }
            console.log(resultFile)
            console.log("verify id is: " + data.verifyId)
            $("#result-content").html("<p>" + resultFileString + "</p>");
            for (var advExample of data.advExamples) {
                var filename = "http://" + base_url + "/winr/adv_image/" + advExample
                console.log("advExample: " + advExample)
                $("#adv-image-area").append("<div class=\"adv-image\"><img src=\"" + filename + "\"/><p>" + advExample + "</p></div>")
            }
        });
    }

    function startTest() {
        reset()

        var verifyId = "1"

        $("#loading").animate({opacity: "1"})
        $.get("http://" + base_url + "/winr/verify_id", function (data) {
            verifyId = data
            console.log("verify id is: " + verifyId)
            if (verifyId === "1") {
                alert("获取verify id失败，验证终止");
                // 没有获取到verify ID时不进行验证
            } else {
                const dataset = $("#input-dataset option:selected");
                const epsilon = $("#input-epsilon");
                const model = $("#input-model option:selected");
                const imageNum = $("#input-image-num");

                $.post("http://" + base_url + "/winr/sync/" + userID, {
                    verifyId: verifyId,
                    dataset: dataset.val(),
                    epsilon: epsilon.val(),
                    model: model.val(),
                    imageNum: imageNum.val()
                }, function (data) {
                    $("#loading").animate({opacity: "0"});
                    var resultFile = data.data.resultFile
                    var resultFileString = ""
                    for (var key in resultFile) {
                        resultFileString += (key + ": " + resultFile[key] + "<br>")
                    }
                    console.log(resultFile)
                    console.log("verify id is: " + data.data.verifyId)
                    $("#result-content").html("<p>" + resultFileString + "</p>");
                    for (var advExample of data.data.advExamples) {
                        var filename = "http://" + base_url + "/winr/adv_image/" + advExample
                        $("#adv-image-area").append("<div class=\"adv-image\"><img src=\"" + filename + "\"/><p>" + advExample + "</p></div>")
                    }
                    console.log("Load was performed.")
                })
            }
        })
    }

    //关闭连接
    function closeWebSocket() {
        if (websocket != null) {
            websocket.close();
        }
    }

    function reset() {
        $("#result-content").empty()
        $("#adv-image-area").empty()
    }
</script>
<style type="text/css">
    .adv-image {
        display: inline-block;
        text-align: center;
    }

    #loading {
        z-index: 1;
        text-align: center;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 90px;
        margin: auto;
        position: absolute;
        height: 30px;
        opacity: 0;
    }

    #result-content {
        width: 80%;
        height: 400px;
        margin: 20px auto;
        background: antiquewhite;
        overflow: auto;
        padding: 20px 10px
    }

    #adv-image-area {
        width: 80%;
        height: 400px;
        margin: 20px auto;
        border: 3px solid black;
        overflow: auto;
        padding: 20px 10px
    }
</style>
</body>
</html>
